[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
python-dotenv = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"

[requires]
python_version = "3"

[scripts]
test = "coverage run manage.py test"
coverage = "coverage html"
