/* Basic Theme */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    margin: 0;

    /* Notebook Effects */
    background-color: linen;
    color: #1B1A2D;
    font-family: 'Montserrat', sans-serif;
}

button {
    border: none;
    padding: 10px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;

    margin: 2em 0;
    width: 100%;
}

table tr td, tr th {
    padding: 0.5em 0.5em;
    text-align: left;
}

th {
    border-bottom: solid 1px black;
    padding-bottom: 0.1em;
}

/* Navigation Style */
#brand {
    font-weight: 700;
    font-size: 1.2em;
}

#top-navigation {
    background-color: black;
    opacity: 0.8;

    position: fixed;
    top: 0;
    width: 100%;
}

#top-navigation a {
    color: white;
    text-decoration: none;

    display: inline-block;
    margin: 12px 10px;
    padding-bottom: 5px;
}

#top-navigation a:hover {
    color: khaki;
}

#top-navigation .active-link {
    color: lightgreen;
    border-bottom: solid 2px lightgreen;
}

#top-navigation .active-link:hover {
    color: lightgreen;
    border-bottom: solid 2px lightgreen;
}

.navbar-brand:hover {
    color: #f9f9ea;
}

.nav-link:hover {
    color: white;
}

#sign-out {
    float: right;
    margin-right: 10px;
}
/* The Content Style */
.content {
    margin: 75px 5%;
}

#cli {
    opacity: 0.8;

    position: fixed;
    bottom: 0;
    width: 100%;
}

#cli input {
    background-color: black;
    color: lightgreen;
    font-family: courier;

    border: none;
    outline: none;
    padding: 10px;

    width: 100%;
}

