/* Basic Theme */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* ===================
   || COLOR PALETTE ||
   ===================

    background color: #0C0C0C
    text color: #E3E7D3
    link color: #2C6E7C
*/

a {
    color: #66A0AD;
    text-decoration: none;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    background-color: #0C0C0C;
    color: #E3E7D3;
    background-size: 25px 25px;
    background-image: linear-gradient(to right, #111010 1px, transparent 1px),
                      linear-gradient(to bottom, #111010 1px, transparent 1px);
}

button {
    border: none;
    padding: 10px;
}

input {
    margin: 0.5em;
}

table {
    border-collapse: collapse;
    table-layout: fixed;

    margin: 2em 0;
    width: 100%;
}

table tr td, tr th {
    padding: 0.5em 0.5em;
    text-align: left;
}

th {
    border-bottom: solid 1px gray;
    padding-bottom: 0.1em;
}

.th-7 {
    width: 70%;
}

/* Navigation Style */
#brand {
    font-weight: 700;
    font-size: 1.2em;
}


#top-navigation {
    box-shadow: 0 1px 5px red;

    background-color: black;
    opacity: 0.8;

    position: fixed;
    top: 0;
    width: 100%;
}

#top-navigation a {
    color: white;
    text-decoration: none;

    display: inline-block;
    margin: 12px 10px;
    padding-bottom: 5px;
}

#top-navigation a:hover {
    color: pink;
}

#top-navigation .active-link {
    color: red;
    font-weight: bold;
    border-bottom: solid 2px red;
}

#top-navigation .active-link:hover {
    color: red;
    border-bottom: solid 2px red;
}

.navbar-brand:hover {
    color: #f9f9ea;
}

.nav-link:hover {
    color: white;
}

#sign-out {
    float: right;
    margin-right: 10px;
}
/* The Content Style */
.content {
    margin: 75px 5%;
}

#cli {
    opacity: 0.8;

    background-color: black;
    border: 1px groove gray;

    position: fixed;
    bottom: 0;
    width: 95%;
    margin: 1% 2%;
    padding: 10px;
}

#cli input {
    background-color: black;
    color: lightgreen;
    font-family: courier;

    border: none;
    outline: none;
    width: 100%;
    opacity: 0.8    ;
}