/* Basic Theme */
body {
    background-color: #F3F2F2;
    color: #1B1A2D;
    margin: 0;
}

/* Navigation Style */
#top-navigation {
    background-color: #281c04;

    position: fixed;
    top: 0;
    width: 100%;
}

#top-navigation a {
    color: white;
    text-decoration: none;

    display: inline-block;
    padding: 15px 10px;
}

#top-navigation .active-link {
    color: crimson;
}

.navbar-brand:hover {
    color: #f9f9ea;
}

.nav-link:hover {
    color: white;
}

#sign-out {
    float: right;
    margin-right: 10px;
}
/* The Content Style */
.content {
    margin: 75px 10px;
}

#cli {
    opacity: 0.8;

    position: fixed;
    bottom: 0;
    width: 100%;
}

#cli input {
    background-color: black;
    color: lightgreen;
    font-family: courier;

    border: none;
    outline: none;
    padding: 10px;

    width: 100%;
}