{% extends 'base_private.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/budget.css' %}">
{% endblock %}

{% block link-id %}budget{% endblock %}

{% block main %}
<!-- INCOME TABLE -->
<h1>Income</h1>
<table>
    <thead>
        <tr>
            <th class="id-col">ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        {% for record in income %}
        <tr>
            <td class="id-col">{{ record.id }}</td>
            <td>{{ record.date }}</td>
            <td>{{ record.amount }} &euro;</td>
            <td>{{ record.type.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- SPENDINGS TABLE -->
<h1>Spendings</h1>
<table>
    <thead>
        <tr>
            <th class="id-col">ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
        {% for record in spending %}
        <tr>
            <td class="id-col">{{ record.id }}</td>
            <td>{{ record.date }}</td>
            <td>{{ record.amount }} &euro;</td>
            <td>{{ record.item.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
