{% extends 'base_private.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/budget.css' %}">
{% endblock %}

{% block link-id %}budget{% endblock %}

{% block main %}
<!-- INCOME TABLE -->
<h1>Income</h1>
<table>
    <tr>
        <th class="date">Date</th>
        <th class="amount">Amount</th>
        <th class="category">Source</th>
    </tr>
    {% for record in income %}
    <tr>
        <td>{{ record.date }}</td>
        <td>{{ record.amount }} &euro;</td>
        <td>{{ record.type.name }}</td>
    </tr>
    {% endfor %}
</table>

<!-- SPENDINGS TABLE -->
<h1>Spendings</h1>
<table>
    <tr>
        <th class="date">Date</th>
        <th class="amount">Amount</th>
        <th class="category">Category</th>
        <th class="description">Description</th>
    </tr>
    {% for record in spending %}
    <tr>
        <td>{{ record.date }}</td>
        <td>{{ record.amount }}</td>
        <td>{{ record.category.value }}</td>
        <td>{{ record.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
