{% extends 'base.html' %}

{% block link-id %}budget{% endblock %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Income</h1>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Amount (&#128;)</th>
                    <th>Comment</th>
                </tr>
                {% for record in revenues %}
                <tr>
                    <td>{{ record.date }}</td>
                    <td>{{ record.amount }}</td>
                    <td>{{ record.comment }}</td>
                </tr>
                {% endfor %}
            </table>

            <h1>Spendings</h1>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Amount (&#128;)</th>
                    <th>Comment</th>
                </tr>
                {% for record in spendings %}
                <tr>
                    <td>{{ record.date }}</td>
                    <td>{{ record.amount }}</td>
                    <td>{{ record.comment }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4">
            <h2>Add new record</h2>
            <form method="post" action="{% url 'budget:submit' %}">
                {% csrf_token %}
                <input type="date" class="form-control" name="date">
                <div class="input-group md-3">
                    <input type="text" class="form-control" placeholder="&plusmn; ee,cc" name="amount">
                    <span class="input-group-append input-group-text">&#128;</span>
                </div>
                <input type="text" class="form-control" placeholder="comments" name="comment">
                <input type="submit" class="form-control btn btn-primary" value="Add">
            </form>
        </div>
    </div>
</div>
{% endblock %}

