{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/library.css' %}">
{% endblock %}

{% block link-id %}library{% endblock %}
{% block main %}
<table>
    <tr>
        <th class="title">Title</th>
        <th class="authors">Author(s)</th>
        <th>Edition</th>
        <th>Read</th>
    </tr>

    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.edition }}</td>
        <td>{{ book.read }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}