{% extends 'base_private.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
{% endblock %}

{% block main %}
<!-- Time Until Retirement-->
<div class="progress-bar-outer">
    <div class="progress-bar-inner" style="width: {{ time_as_percentage }}%; text-align: center; max-width: 100%;">
        Hours until retirement: {{ hours_left }}
    </div>
</div>

<p>Spendings (this month): {{ spending }} €</p>
<p>Income (this month): {{ income }} €</p>

<table>
    <tr>
        <th>Task</th>
        <th>Due Time</th>
    </tr>
{% for task in tasks %}
    <tr>
        <td>{{ task.description }}</td>
        <td class="time">{{ task.due_time|date:'d.m.Y – H:i' }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}